.car-selected {
  flex: 0 0 100%; /* Full width of container */
  background-color: #f1f1f1;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-bottom: 10px;
}


