

.submitted-booking-page {
  display: flex;
  flex-direction: column;
  color: black;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: white;
}
.submitted-booking-page p {
  color: black;
}

.completed-booking-message {
  color: var(--secondary-color);
  margin-bottom: -0.5rem;
}

.view-orders-link {
  color: var(--main-color);
  text-decoration: none;
  font-weight: bold;
  margin-top: 1rem;
}