.modal {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
}

#submit-button {
  padding: 20px;
  background-color: #EB5E28;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
}

#register-forgot-wrapper {
  display: flex;
  flex-direction: column;
  float: left;
}

.toggle-login-register-button, .forgot-password-button {
  font-size: 20px;
  border-radius: 15px;
  background-color: transparent;
  color: #252422;
  border: none;
  width: auto;
  height: fit-content;
}

.toggle-login-register-button:hover, .forgot-password-button:hover {
  text-decoration: underline;
  color: #EB5E28; /* Darker green on hover */
  background-color: transparent; /* Ensure no background color on hover */
}

#submit-button:hover {
  background-color: #eb5f28c9;
}

#email-field, #first-name-field, #last-name-field, #password-field, #confirm-password-field {
  background-color: white;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-bottom: gray solid 2px;
}

#email-field:focus, #first-name-field:focus, #last-name-field:focus, #password-field:focus, #confirm-password-field:focus {
  background-color: white;
  border-bottom: #EB5E28 solid 2px;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

#wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#name-wrapper, #password-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1em;
}