  /**
  * Account css
  * This file contains the CSS styles for the Account section.
  */
  
.account {
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 12px 24px 12px 24px;
}

.account-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin-left: 90px;
}

.account-section h1 {
  margin-bottom: 20px;
  color: var(--main-color);
}

.account-section h2 {
  margin-bottom: 20px;
  color: var(--main-color);
  border-bottom: var(--secondary-color) 1px solid;
}

.account-section label {
  color: var(--main-color);
  font-size: var(--font-size-xl);
  margin-bottom: 5px;
}

.account-section input[type="text"] {
  background-color: white;
  border: none;
  border-bottom: 1px solid var(--main-color);
  margin-bottom: 15px;
  margin-top: 10px;
  padding-left: 0px;
  font-size: var(--font-size-xl);
}

.account-section input[type="text"]:focus {
  outline: none;
}

.account-section .save-button {
  background-color: var(--secondary-color);
  color: white;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  max-width: 1000px;
  margin: 15px 0;
  align-self: start;
}

.account-section .save-button:hover {
  transition: 0.3s;
  background-color: var(--secondary-color-hover);
}

.account-section .save-button:active {
  background-color: var(--secondary-color);
  transform: scale(0.95);
}

.account-section .bottom-button-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin-left: -10px;
}
.account-section .bottom-button {
  background-color: transparent;
  border-radius: 0%;
  color: var(--main-color);
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  max-width: fit-content;
  min-width: fit-content;
}

.account-section .bottom-button:hover {
  background-color: transparent;
  color: var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
  border-radius: 0%;
  transition: 0.3s;
}

.account-section .success-message {
  color: var(--main-color);
  background-color: #4CAF5022;
  border: 1px solid #4CAF50;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .account-section {
    margin-left: 0px;
    padding: 20px;
  }
  
}