/**
  * Common css
  * This file contains the CSS styles for the Account component.
  * It includes styles for the account menu, booking section, and other elements.
  */
  
  .account-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10vh 0 10vh;
    
    border-bottom: #252422 1px solid;
  }
  
  .account-menu-list {
    display: flex;
    flex-direction: row;
  }
  
  .account-menu-list li {
    list-style-type: none;
    margin-right: 20px;
  }
  
  .account-menu-list li a {
    text-decoration: none;
    color: #252422;
  }
  
  .account-menu-list li a:hover {
    color: #EB5E28;
    border-bottom: #EB5E28 1px solid;
    transition: 1ms;
  }
  
  #selected-site-link {
    color: #EB5E28;
    border-bottom: #EB5E28 1px solid;
  }
  
  /**
  * Account css
  * This file contains the CSS styles for the Account section.
  */
  
  .account {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .account-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .account-section h1 {
    margin-bottom: 20px;
    color: #252422;
  }
  
  .account-section h2 {
    margin-bottom: 20px;
    color: #252422;
    border-bottom: #EB5E28 1px solid;
  }

  .account-section h3 {
    font-weight: 400;
    margin-bottom: 0px;
  }

  .account-section input[type="text"] {
    background-color: white;
    border: none;
    border-bottom: 1px solid #252422;
    margin-bottom: 15px;
    margin-top: 10px;
    padding-left: 0px;
    font-size: 20px;
    font-weight: 400;
  }

  input[type="text"]:focus {
    outline: none;
  }

.account-section .save-button {
    background-color: #EB5E28;
    color: white;
    padding: 5px 10px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    max-width: 100px;
    margin: 10px 0;
  }

  .save-button:hover {
    transition: 0.3s;
  }

  .bottom-button-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .bottom-button {
    background-color: transparent;
    border-radius: 0%;
    color: #252422;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    max-width: fit-content;
    min-width: fit-content;
  }

  .bottom-button:hover {
    background-color: transparent;
    color: #EB5E28;
    border-bottom: 1px solid #EB5E28;
    border-radius: 0%;
    transition: 0.3s;
  }

  /**
  * Orders css
  * Styles for the booking section of the account page.
  */

  .orders {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .orders-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .orders-list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    width: 1200px;
  }

  /**
  * Orders CarDisplay css
  * Styles for the orders car display section of "My Orders".
  */

  .car-display-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: #252422 2px solid;
  }

  .car-background{
    width: 480px;
    border-radius: 15px;
    background: radial-gradient(50% 50% at 50% 50%, white, #252422);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: relative; 
    display: flex;
    flex-direction: column;
    height: 350px;
    align-self: flex-start; 
  }

  .car-image {
    width: 275px;
    height: auto;
    align-self: center;
  }

  .car-image img {
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
  }

  #provider-name {
    font-size: 20px;
    color: #ffffff;
    margin-left: 10px;
    margin-top: -20px;
    font-weight: 200;
  }

  .car-details {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }

  .car-details h3 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #252422;
  }

  .car-details p {
    margin: 3px 0;
    padding: 0;
    font-size: 16px;
    color: #252422;
  }

  .rental-schedule-container {
    border-bottom: transparent;
  }

  .rental-schedule-text {
    margin: 5px 10px 5px 10px;
  }