.rentals-details-table {
  margin: 10px 0 40px 0;
  border: var(--main-color) 2px solid;
  border-radius: 10px 10px 0 0;
  background-color: var(--main-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.rentals-details-table thead {
  background-color: var(--main-color);
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.rentals-details-table thead th {
  border-radius: 20px;
  width: 10%;
  cursor: pointer;
}

.rentals-details-table thead th .caret-icon {
  margin-left: 5px;
  color: white; /* Make the caret white */
  transition: transform 0.3s ease; /* Smooth rotation */
}
.rentals-details-table thead th .caret-icon.rotated {
  transform: rotate(180deg); /* Rotate the caret upwards */
}

.rentals-details-table tbody {
  background-color: white;
  color: var(--main-color);
  text-align: center;
  border-radius: 20px;
}

.rentals-details-table tbody tr {
  border-bottom: 1px solid var(--main-color);
}
.rentals-details-table tbody tr:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.rentals-details-table tbody td:hover{
  outline: var(--secondary-color) 2px solid;
  background-color: var(--hover-color);
  outline-offset: -2px;
  cursor: pointer;
}

@media screen and (max-width: 930px) {
  /**
    * Adjust the table layout for smaller screens, by making the items stack vertically
    * And making the items fill the table width.
    */

  .rentals-details-table {
    display: block;
    border: none;
    box-shadow: none;
  }

  .rentals-details-table table{
    display: block;
    width: 100%;
    margin: 0;
    
  }
  .rentals-details-table thead {
    display: none;
  }
  .rentals-details-table tbody {
    display: block;
    border-radius: 10px;
  }

  .rentals-details-table tr:hover {
    border-radius: 10px;
  }

  .rentals-details-table tbody tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: var(--main-color) 2px solid;

  }

  .rentals-details-table tbody tr td {
    display: block;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid var(--main-color);
  }

}