.location-section input{
  background-color: white;
}

.location-section .text-input:-webkit-autofill,
.location-section .text-input:-webkit-autofill:hover,
.location-section .text-input:-webkit-autofill:focus,
.location-section .text-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  background-clip: content-box !important;
  color: #000 !important;
}