
 .cta-section {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   padding: 50px 20px;
   background: rgb(245,157,105);
   background: radial-gradient(circle, rgba(245,157,105,1) 0%, rgba(11,11,11,1) 100%);   color: white;
   text-align: center;
   height: 350px;
 }

.cta-section h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.cta-section p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  opacity: 0.9;
}

.cta-button {
  background-color: white;
  color: #FF5733;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
}