
:root {
  --center-container-width: 87vw;
  --center-element-width: calc(var(--center-container-width) / 3.3);
  --center-element-height: 50px;
}

* {
}

.home-container {
  position: relative; /* Keeps everything in normal flow */
  min-height: 100vh; /* At least full screen height */
  padding-top: 80px; /* Offset to prevent header overlap */
  background-image:
          linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #252422 95%),
          url("../../resources/images/HeroSection/scenic/scenic-ride-winter.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-section {
  position: relative;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center; /* Center vertically */
  max-width: 1440px;
  max-height: 217px;
  top: -50px;
  left: 50%; /* Position at 50% from the left */
  transform: translateX(-50%); /* Shift back by half its width */
  width: var(--center-container-width);
  height: 50vh;
  box-shadow: 0 0 33px 10px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  background: white center;
  padding: 16px;
}

/* Media queries for responsive design */
@media screen and (max-width: 1500px) {
  .hero-section {
    padding: 16px;
  }
}

@media screen and (max-width: 1000px) {
  .hero-section {
    min-width: 100vw;
    min-height: 500px;
    padding: 12px;
    flex-direction: column;
  }

  .home-container {
    padding-top: 60px;
  }
}






