

.home-container {
  position: relative;
  display: block;
  z-index: 1;
  min-height: 50vh;
  padding-top: 30px;
  background-image: url(./../../resources/images/HeroSection/van-nature.jpg);
  background-size: 2560px auto;
  background-attachment: fixed; /* Prevents zooming when scrolling */
  background-position: center; /* Align to top */
  background-repeat: no-repeat;
  max-width: 2560px;
  margin: 0 auto;
  width: 100%;
}

.hero-section {
  position: sticky;
  z-index: 100;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  width: 90%;
  width: var(--center-container-width);
  background: white;
  gap: 12px;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 200px 0 200px 24px rgba(0, 0, 0, 0.35), -200px 0 200px 24px rgba(0, 0, 0, 0.35);
  min-height: 200px;
}


.booking-form-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically */
  border-radius: 10px;
}

.intermediary-1 {
  height: 1000px;
  background-image:
          url("./../../resources/images/HeroSection/scenic/scenic-ride-forest.jpg");
  background-size: 2560px auto;
  background-attachment: fixed; /* Prevents zooming when scrolling */
  background-position: center; /* Align to top */
  background-repeat: no-repeat;
}

.intermediary-2 {
  height: 750px;
  background-image:
          url("./../../resources/images/HeroSection/scenic/scenic-ride-winter.jpg");
  background-size: 2560px auto;
  background-attachment: fixed; /* Prevents zooming when scrolling */
  background-position: center; /* Align to top */
  background-repeat: no-repeat;
}

.hero-call-to-action {
  position: fixed;
  width: 90vw;
  max-width: 1600px;
  z-index: -200000;
  margin: 70vh auto;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.hero-call-to-action h1 {
  color: white;
  margin: 0;
}

.hero-call-to-action h2 {
  color: white;
}


.book-now-button {
  background-color: #FF5F00;
  color: white;
  font-size: 1.2rem;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 16px;
}

.book-now-button:hover {
  background-color: #e94100;
}

.full-screen-booking-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1000;
  overflow-y: auto;
}

@keyframes fade-and-drop-in {
  from {
    transform: translateY(-500%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-and-drop-in {
  animation: fade-and-drop-in 1.5s ease forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 2.7s ease forwards;
}

@media screen and (max-width: 1600px){
  .hero-section {
    min-width: 90vw;
    max-width: 90vw;
    height: 100%;
    padding: 12px;
  }
}



@media screen and (max-width: 1000px){
  .hero-section {
    min-width: 90vw;
    max-width: 90vw;
    min-height: 100px;
    height: 100%;
    padding: 12px;
  }

  .booking-form-container {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    max-height: 100%;
    gap: 24px;
  }

  .home-container {
  background-size: cover;

  }
}
