.top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

#login-create {
  position: relative;
  font-size: 20px;
  color: #FFFCF2;
  display: flex;
  flex-direction: row;
  right: 2%;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0px;
  width: 200px;
  border-radius: 0%;
  border-bottom: #252422 1px solid;
}

#login-create::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* Adjust as needed */
  width: 0;
  height: 2px; /* Thickness of underline */
  background-color: currentColor; /* Matches text color */
  transition: width 0.2s ease-in-out;
}

#login-create:hover::after {
  width: 100%;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  margin: 25px;
  align-self: center;
}

.nav-bar svg {
  color: #ffffff;
  margin-right: 15px;
}


#logo-image {
  width: 100px;
  height: 100px;
}

.logo-button {
  cursor: pointer;
}
