@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap');

* {
  font-family: HelveticaNow, Helvetica, "Roboto Condensed", Arial, sans-serif;
  font-weight: 700;
}

*:hover {
  transition: 0.1s ease-in-out;
}

h1, h2, h3 {
  font-family: 'Poppins', serif;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
}

button {
  font-family: 'Poppins', serif; 
  border: none;
  cursor: pointer;
}