.favourites-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.favourites-container .favourites-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}