.favourites-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.favourites-container .favourites-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 12px;
}

@media screen and (max-width: 900px) {
  .favourites-container {
    width: 100%;
    max-width: 100%;
    min-width: 1px;
    align-items: center;
    justify-content: center;
  }
  .favourites-container .favourites-list {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
  
}