footer {
  display: flex;
  flex-direction: row;
  background-color: #252422;
  color: #FFFCF2; /* Text color for visibility */
  padding: 5%; /* Adjusted padding */
  height: auto; /* Adjust height as needed */
}


.menu {
  display: flex;
  flex-direction: row;
  width: 27.5vw;
  align-items: center;
  justify-content: space-between; /* Ensures space between elements */
  background-color: transparent;
  color: inherit;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  overflow: hidden;
}


.dropdown {
  position: relative;
  transition: rotate 10s ease-in-out;
}

.dropdown.clicked {
  rotate: 180deg;
  transition: rotate 0.2s ease-in-out;
}

#creators, #contact, #links {
  padding: 3vh;
}


.footer-item {
  display: flex;
  align-items: flex-start;
  color: #FFFCF2;
  flex-direction: column;
  font-size: 20px;
  list-style: none; /* Removes bullet points */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
}



footer a {
  position: relative;
  text-decoration: none; /* Remove default underline */
  color: #FFFCF2; /* Keep original text color */
}

footer a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* Adjust as needed */
  width: 0;
  height: 2px; /* Thickness of underline */
  background-color: currentColor; /* Matches text color */
  transition: width 0.2s ease-in-out;
}

footer a:hover::after {
  width: 100%;
}

.trademark {
  position: absolute;
  padding: 0px 0px 20px 20px;
  color: #CCC5B9;
}

@media screen and (max-width: 750px) {
  footer {
    flex-direction: column;
  }

  .menu {
    width: 100vw;
  }

  #creators, #contact, #links {
    padding: 0 0 0.7rem;
  }

  footer nav {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  footer nav#contact::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0vw; /* 5% of the viewport width */
    width: 90vw; /* 90% of the viewport width */
    height: 1px;
    background-color: #FFFCF2;
  }

  footer nav#contact::after,
  footer nav#links::after,
  footer nav#creators::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0vw; /* 5% of the viewport width */
    width: 90vw; /* 90% of the viewport width */
    height: 1px;
    background-color: #FFFCF2;
  }

  .dropdown {
    position: relative;
    right: 10vw;
    transition: transform 0.2s ease-in-out;
  }

  .dropdown.expanded {
    transform: rotate(180deg); /* Rotate the caret when expanded */
  }
}