.rental-page {
  background-color: #FFFCF2;
  display: flex;
  flex-direction: column;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;      
}

.main-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 20px;
  max-width: 1230px;
  padding: 10px;
}

.sort-bar {
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  padding: 10px;
  align-self: flex-start;
}

.sort-button {
  background-color: #FFFCF2;
  color: #252422;
  position: relative;
  width: auto;
  height: auto;
  margin-right: 10px;
  border: none;
  border-bottom: #252422 1px solid;
}

.sort-button:hover {
  border-bottom: #EB5E28 1px solid;
  transition: 0.1s;
}

.filter-button {
  background-color: #FFFCF2;
  color: #252422;
  position: relative;
  width: auto;
  height: auto;
  margin-right: 10px;
  border: none;
  border-bottom: #252422 1px solid;
  border-radius: 0%;
}

.filter-button:hover {
  border-bottom: #EB5E28 1px solid;
  transition: 0.1s;
  background-color: #FFFCF2;
}

@media screen and (min-width:850px) {
  .filter-button {
  display: none;
  }
  
}
@media screen and (max-width: 1300px) {
  .main-body {
    max-width: 815px;
  }
}

@media screen and (max-width: 850px) {
  .main-body {
    max-width: 430px;
    justify-content: center
  }

  .sort-bar {
    justify-content: center;
    justify-self: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .sort-button {
    display: none;
  }
}