.rental-page {
  background-color: #FFFCF2;
  display: flex;
  flex-direction: column;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;      
}

.main-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 20px;
  max-width: 1230px;
}

.sort-bar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 10px;
  margin-left: 25px;
}

.sort-button {
  background-color: #FFFCF2;
  color: #252422;
  position: relative;
  width: auto;
  height: auto;
  margin-right: 10px;
  border: none;
  border-bottom: #252422 1px solid;
}

.top-section {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

@media screen and (max-width: 1240px) {
  .main-body {
    max-width: 815px;
  }
}

@media screen and (max-width: 830px) {
  .main-body {
    max-width: 400px;
  }
}