.dropdown-menu {
  position: absolute;
  display: flex; 
  flex-direction: column;
  width: 99%;
  top: 100%;
  left: 20%;
  margin-top: 12px; 
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px, rgba(0, 0, 0, 0.06) 0px 1px 3px;
  border-radius: 6px;
  border: 1px solid #ddd;
  
  opacity: 0;
  visibility: hidden;
  transform: translateY(0px); 
  transition: opacity 0.3s ease, transform 0.3s ease;
  animation: fadeIn 0.3s ease;

  z-index: 2;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.dropdown-menu.visible {
  cursor: pointer;
  list-style: none;
  text-align: left;
  
  padding: 10px;
  margin-left: -15px; 
  
  opacity: 1;
  visibility: visible;
}

.dropdown-menu-list {
  cursor: pointer;
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

.dropdown-menu-list li {
  margin: 5px 0;
  padding: 10px 15px;
  border-radius: 4px;

  transition: background-color 0.2s ease, color 0.2s ease;
}

.dropdown-menu-list li:hover {
  color: var(--secondary-color);
  border-radius: 0;
}

.dropdown-menu a {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  width: 100%;
  text-align: left;
  text-wrap: nowrap;
}

.dropdown-menu a:hover,
.dropdown-menu a:focus {
  outline: none;
}