.rentals-car-display-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  margin: 0 0 10px 0;
  padding: 0;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border: #252422 2px solid;
  text-align: left;
  width: 100%;

}

.rentals-car-display-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  transition: 0.3s;
}

.rentals-car-display-card .car-background{
  min-width: 480px;
  border-radius: 15px;
  background: radial-gradient(50% 50% at 50% 50%, white, #252422);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: relative; 
  display: flex;
  flex-direction: column;
  height: 350px;
  align-self: flex-start; 
}

.rentals-car-display-card .car-image {
  margin-top:10px;
  width: 275px;
  height: auto;
  align-self: center;
}

.rentals-car-display-card .car-image img {
  width: fit-content;
  height: fit-content;
}

.rentals-car-display-card .car-display-info {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-self: flex-start;
  justify-content: space-between;
}
.rentals-car-display-card .car-details {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.rentals-car-display-card .car-details input {
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  font-size: 16px;
  color: #252422;
  width: fit-content;
}

.rentals-car-display-card .car-details input:focus {
  border-bottom: 2px solid #EB5E28;
  transform: scale(1.05);
  transition: 0s;
}

.rentals-car-display-card .car-details select {
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  font-size: 16px;
  color: #252422;
  width: fit-content;
}

.rentals-car-display-card .car-details select:focus {
  border-bottom: 2px solid #EB5E28;
  transform: scale(1.05);
  transition: 0s;
}

.rentals-car-display-card .car-details h3 {
  margin: 10px 0 15px 0;
  padding: 0;
  font-size: 25px;
  color: #252422;
}

.rentals-car-display-card .car-details p {
  margin: 6px 0;
  padding: 0;
  font-size: 16px;
  color: #252422;
}

.rentals-car-display-card .my-rental-buttons {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.rentals-car-display-card .edit-button {
  justify-content: space-between;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  margin: 10px 5px auto auto;
}

.rentals-car-display-card .edit-button .edit-icon:hover{
  color-scheme: #EB5E28;
  transition: 0.3s;
}

.rentals-car-display-card .save-discard-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
}

.rentals-car-display-card .save-discard-buttons button {
  background-color: #252422;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  transition: 0.3s;
  margin-left: 10px;
}

.rentals-car-display-card .save-discard-buttons button:hover {
  background-color: #EB5E28;
  color: white;
  cursor: pointer;
}