.my-rentals-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.my-rentals-list {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  width: 100%;
  max-width: 1600px;
}

#my-rentals-header {
  display: flex;
  box-shadow: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  padding: 0 20px;
}

#add-car-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF5F00; 
  color: white;
  border: none;
  border-radius: 6px; 
  padding: 6px 16px; 
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 125px; 
}

#add-car-button:hover {
  background-color: #E65500; /* Slightly darker shade on hover */
  transform: scale(1.05); /* Slight zoom effect */
}

#add-car-button:active {
  background-color: #CC4A00; /* Even darker shade on click */
  transform: scale(0.95); /* Slight shrink effect */
}

#add-car-button .add-car-text {
  margin-left: 8px;
}

#add-car-button svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0; 
}

@media screen and (max-width: 850px) {
  .my-rentals {
    width: 100%;
    padding: 10px;
  }

  .my-rentals-list {
    width: 100%;
  }

  #my-rentals-header {
    align-items: flex-start;
  }

  #add-car-button {
    margin-top: 10px;
  }
}
