@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  /*--font-family: 'Montserrat', 'Roboto', sans-serif;*/
  --font-family: "DM Sans", sans-serif;;
  --font-smoothing: antialiased;
  --font-size-base: 16px;
  --line-height-base: 1.5;
  --color-text: #252422;
  --font-weight: 550;
}

body {
  margin: 0;
  font-family: var(--font-family), serif;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--color-text);
  font-weight: var(--font-weight);
  -webkit-font-smoothing: var(--font-smoothing);
  -moz-osx-font-smoothing: var(--font-smoothing);
}

* {
  font-family: inherit;
  font-weight: inherit;
}

html, body {
  overflow-y: auto;
  overflow-x: hidden;
}