.car-selected {
  display: flex;
  width: 100%;
  background-color: transparent;
  border-radius: 15px;
  box-shadow: inset 0 0 0 2px #252422;
}

.car-selected .next-button {
  align-self: flex-end;
  height: fit-content;
  width: fit-content;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  padding: 10px 70px;
  margin: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 1s ease;
}

.car-selected .next-button:hover{
  background-color: var(--secondary-color-hover);
  transition: 0.3s;
}

.car-selected .next-button:active {
  background-color: var(--secondary-color);
  transition: 0.3s;
  transform: scale(0.95);
}

.car-selected #car-background {
  width: 50%;
  border-radius: 15px;
  background-image: url('../../../resources/images/car-background.webp');
  background-size: 100% auto;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat; 
  position: relative; 
  display: flex;
  flex-direction: column;
  align-self: flex-start; 
}

.car-selected #car-background header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.car-selected #car-background h2 {
  width: 350px;
  color: var(--background-color);
  margin-bottom: 10px;
  margin-left: 20px;
}

.car-selected #car-background h3 {
  margin-left: 20px;
  color: var(--background-color);
  margin-bottom: 10px;
}

.car-selected #car-background header h4 {
  margin-left: auto;
  height: 25px;
  width: 80px;
  color: var(--background-color);
  margin-bottom: 5px;
  background-color: var(--secondary-color);
  border-radius: 25px;
  text-align: center;
  padding: 5px 10px 0px 10px;
}

.car-selected #car-background img {
  border-radius: 15px;
  width: 80%;
  margin: -100px 0 -100px 0;
  align-self: center;
}


b {
  color: var(--main-color);
}
.car-selected #car-background footer {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: auto;
  padding: 10px;
}

.car-selected .car-details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.car-selected .car-rental-economics {
  margin-top: auto;
  margin-left: 50px;
  margin-bottom: 10px;
}

.car-selected .car-rental-economics h4 {
  margin: 10px 0 0 0;
  color: var(--main-color);
}

.car-selected .car-info {
  display: flex;
  flex-direction: column;
  height: 200px;
  flex-wrap: wrap;
}

.car-selected #car-info-figure {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.car-selected #logo {
  margin-right: 13px;
}

.car-selected #extra-features-button {
  background-color: transparent;
  color: var(--main-color);
  border: none;
  cursor: pointer;
  width: 200px;
  padding: 0px;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.car-selected .extra-features-list {
  max-height: 138px; /* Set a maximum height for the list */
  overflow-y: auto; /* Enable vertical scrolling */
  margin-top: 0px;
  padding-left: 85px;
  list-style-type: disc;
  color: var(--main-color);
  border-radius: 5px; /* Optional: Add rounded corners */
  list-style-type: none;
  margin-bottom: 0px;
  margin-right: 10px;
}

.car-selected .caret-icon {
  transition: transform 0.3s ease; /* Smooth rotation */
  transform: rotate(180deg); /* Rotate the caret upwards */
}

.car-selected .caret-icon.rotated {
  transform: rotate(0deg); /* Rotate the caret upwards */
}

.car-selected .extra-features-list li {
  margin-bottom: 5px;
}

.car-selected h3 {
  margin: 0px;
}

.car-selected h4 {
  margin-bottom: 0px;
}

@media screen and (max-width: 1300px) {
  .car-selected {
    flex-direction: column;
    align-items: center;
  }

  .car-selected #car-background {
    display: none;
  }

  .car-selected #car-background img {
    width: 50%;
    margin: -50px 0 -50px 0;
  }

  .car-selected .next-button {
    width: 15%;
    padding: 10px;
    margin: -50px 10px 10px 10px;
    justify-content: center;
  }
}

@media screen and (max-width: 1000px) {
  .car-selected {
    flex-direction: column;
    align-items: center;
    width: 89.5%;
    margin-top: -40px;
    border: var(--main-color) 2px solid;
    border-top: none;
    box-shadow: none;
  }

  .car-selected .car-info {
    width: 100%;
    height: auto;
  }

  .car-selected #car-background {
    width: 100%;
    max-width: 100%;
  }

  .car-selected .next-button {
    width: 90%;
    padding: 10px;
    margin: 0 0 10px 0;
    align-self: center;
  }

  .car-selected .car-details{
    margin-top: 20px;
  }
}


